<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Sound</title>
   
</head>
<body>
    <h2>Pronunciation of the Word: {{ current_word }}</h2>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key={{ api_key }}"></script>
    <button onclick="responsiveVoice.speak('{{ current_word }}', 'US English Female')">Pronounce</button>
    <a href="{{ url_for('start_test', letter=request.args.get('letter')) }}">Back to Test</a>
</body>
</html>
