<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Test</title>
</head>
<body>
    <h1>Select a Test</h1>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key={{ api_key }}"></script>
    <ul>
        {% for letter, words in tests.items() %}
        <li><a href="{{ url_for('start_test', letter=letter) }}">{{ letter.upper() }} Test</a></li>
        {% endfor %}
    </ul>
    
    <a href="{{ url_for('home') }}">Home</a>
</body>
</html>
