<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Complete</title>
</head>
<body>
    <h2>Test Complete</h2>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key={{ api_key }}"></script>
    #<script src="https://code.responsivevoice.org/responsivevoice.js?key=Ytp4Wvua"></script>
    <p>{{ message }}</p>
    <a href="{{ url_for('select_test') }}">Retake Test</a>
    <a href="{{ url_for('home') }}">Home</a>
</body>
</html>
